/* font */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* container style */
.container {
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* main text style */
.main-title_text {
    color: black;
    font-family: 'Bungee';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.75rem;
    margin-top: 6.25rem;
}


/* text field for main page */
.text-field_main {
    
}
