/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* container style */
.container {
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* main text style */
.main-title_text {
    color: black;
    font-family: 'Bungee';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.75rem;
    margin-top: 6.25rem;
}


/* text field for main page */
.text-field_main {
    margin-top: 6.25rem;
    border-radius: 1.25rem;
    width: 60%;
    padding: 1rem 1.25rem;
    outline: none;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: normal;
    border: solid black 2px;
}
