/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* containers style */
.container {
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.input_row_container {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: center;
    margin: 20px auto; 
    max-width: 75rem;
    margin-top: 6.25rem;
}

/* main text style */
.main-title_text {
    color: black;
    font-family: "Bungee";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3.75rem;
    text-align: center;
    margin-top: 6.25rem;
    font-weight: bold;
}

/* text-field style (search) */
.text-field_main{
    border-radius: 1.25rem;
    width: 60%;
    padding: 1rem 1.25rem;
    outline: none;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: normal;
    border: solid black 2px;
    height: 4rem;
}

/* I used a ready-made button from the website
   https://getcssscan.com/css-buttons-examples 
*/
.basic-button {
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 13px 16px;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    white-space: nowrap;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.basic-button,
.basic-button:focus {
    user-select: auto;
}

.basic-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.basic-button:disabled {
    cursor: auto;
}

.basic-button:active {
    border-width: 4px 0 0;
    background: none;
}

.basic-button svg {
    width: 24px;
    height: 24px;
    fill: white;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}