/* add virgil font */
@font-face {
    font-family: Virgil;
    src: url(https://excalidraw.nyc3.cdn.digitaloceanspaces.com/fonts/Virgil.woff2);
}

/* container style */
.container {
    display: flex;
    justify-content: center;
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
}

/* main text style */
.main-title_text {
    color: black;
    font-family: 'Virgil';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3.75rem;
    margin-top: 6.25rem;
}


/* text field for main page */
.text-field_main { 
    
    background: transparent;
}