/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/* containers style */
.container {
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.input_row_container {
    display: flex;
    align-items: center;
    gap: 10px; 
    justify-content: center;
    margin: 20px auto; 
    max-width: 75rem;
    margin-top: 6.25rem;
}

/* main text style */
.main-title_text {
    color: black;
    font-family: "Bungee";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3.75rem;
    text-align: center;
    margin-top: 6.25rem;
    font-weight: bold;
}

/* text-field style (search) */
.text-field_main{
    border-radius: 1.25rem;
    width: 60%;
    padding: 1rem 1.25rem;
    outline: none;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: normal;
    border: solid black 2px;
}

/* From Uiverse.io by adamgiebl */ 
button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
